# Fraud Analysis

In [1]:
from edgar import *
from edgar.xbrl2 import *
from edgar.xbrl2.analysis.ratios import *
from edgar.xbrl2.analysis.metrics import *

In [2]:
c = Company("CMCSA")
filing = c.latest("10-K")
xb = XBRL.from_filing(filing)

## Balance Sheet

In [6]:
balance_sheet = xb.statements.balance_sheet()
balance_sheet

                      Consolidated Balance Sheets (Standardized)
                Fiscal Year Ended (In millions, except per share data)

                                                          Dec 31, 2023   Dec 31, 2024
 ─────────────────────────────────────────────────────────────────────────────────────
        Assets
          Current Assets:
            Cash and Cash Equivalents                           $6,215         $7,322
            Accounts Receivable                                $13,813        $13,661
            Other Assets                                        $3,959         $5,817
            Total Current Assets                               $23,987        $26,801
          Film and television costs                            $12,920        $12,541
          Long-Term Investments                                 $9,385         $8,647
          Property, Plant and Equipment                        $59,700        $62,500
          Goodwill                                             $59,300        $58,200
          Franchise rights                                     $59,365        $59,365
          Other intangible assets, net                         $27,867        $25,599
          Other Assets                                         $12,333        $12,501
          Total Assets                                        $264,811       $266,211
        Liabilities and Equity
          Current Liabilities:
            Accounts Payable                                   $12,437        $11,321
            Deferred Revenue                                    $3,242         $3,507
            Accrued Liabilities                                $13,284        $10,679
            Short-Term Debt                                     $2,100         $4,900
            Advance on sale of investment                       $9,167         $9,167
            Total Current Liabilities                          $40,198        $39,581
          Long-Term Debt                                       $95,000        $94,200
          Deferred income taxes                                $26,003        $25,227
          Other Liabilities                                    $20,122        $20,942
          Commitments and contingencies
          Redeemable noncontrolling interests                     $241           $237
          Equity:
            Preferred Stock                                                          
            Common Stock                                           $48            $47
            Additional paid-in capital                         $38,533        $38,102
            Retained Earnings                                  $52,892        $56,972
            Treasury Stock Common Value                       $(7,517)       $(7,517)
            Accumulated Other Comprehensive Income/Loss       $(1,253)       $(2,043)
            Total Stockholders' Equity                         $82,703        $85,560
            Minority Interest                                     $523           $477
            Total Stockholders' Equity                         $83,226        $86,038
          Total Liabilities and Stockholders' Equity          $264,811       $266,211

## Income Statement

In [3]:
income_statement = xb.statements.income_statement()
df = income_statement.to_dataframe()
income_statement

                                  Consolidated Statement of Income (Standardized)
                                  Year Ended (In millions, except per share data)

                                               Annual: Dec 31, 2024   Annual: Dec 31, 2023   Annual: Dec 31, 2022
 ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────
    Revenue                                              123,731.00             121,572.00             121,427.00
    Costs and Expenses:
      Programming and production                          37,026.00              36,762.00              38,213.00
      Marketing and promotion                              8,073.00               7,971.00               8,506.00
      Other operating and administrative                  40,533.00              39,190.00              38,263.00
      Depreciation and Amortization                        8,729.00               8,854.00               8,724.00
      Depreciation and Amortization                        6,072.00               5,482.00               5,097.00
      Goodwill and long-lived asset                                                                      8,583.00
  impairments
      Total costs and expenses                         (100,434.00)            (98,258.00)           (107,385.00)
    Operating Income                                      23,297.00              23,314.00              14,041.00
    Interest Expense                                     (4,134.00)             (4,087.00)             (3,896.00)
    Nonoperating Income/Expense                            (490.00)               1,252.00               (861.00)
    Income Before Tax                                     18,673.00              20,478.00               9,284.00
    Income Tax Expense                                     2,796.00               5,371.00               4,359.00
    Net Income                                            15,877.00              15,107.00               4,925.00
    Less: Net income (loss) attributable to                  315.00                 282.00                 445.00
  noncontrolling interests
    Net Income                                            16,192.00              15,388.00               5,370.00
    Earnings Per Share                                         0.00                   0.00                   0.00
    Earnings Per Share (Diluted)                               0.00                   0.00                   0.00

In [5]:
(xb.query()
 .from_statement("IncomeStatement")
 .by_label("Total costs")
 .to_dataframe()
 )

,concept,label,value,numeric_value,period_start,period_end,unit_ref,decimals,footnotes,statement_type,statement_role
0,us-gaap:CostsAndExpenses,Total costs and expenses,-100434000000,-1.004340e+11,2024-01-01,2024-12-31,usd,-6,[],IncomeStatement,http://www.comcast.com/role/ConsolidatedStatem...
1,us-gaap:CostsAndExpenses,Total costs and expenses,-98258000000,-9.825800e+10,2023-01-01,2023-12-31,usd,-6,[],IncomeStatement,http://www.comcast.com/role/ConsolidatedStatem...
2,us-gaap:CostsAndExpenses,Total costs and expenses,-107385000000,-1.073850e+11,2022-01-01,2022-12-31,usd,-6,[],IncomeStatement,http://www.comcast.com/role/ConsolidatedStatem...

In [13]:
(xb.facts.to_dataframe()
 .query("concept.str.match('us-gaap:Cost.*')")
 .filter(['concept', 'label', 'value'])
 )

,element_id,context_ref,value,unit_ref,decimals,numeric_value,footnotes,fact_key,concept,period_type,...,dim_us-gaap_DerivativeInstrumentsGainLossByHedgingRelationshipAxis,dim_srt_ScheduleOfEquityMethodInvestmentEquityMethodInvesteeNameAxis,dim_srt_ConsolidatedEntitiesAxis,dim_us-gaap_FinancialInstrumentAxis,dim_srt_OwnershipAxis,dim_us-gaap_PropertyPlantAndEquipmentByTypeAxis,dim_us-gaap_IndefiniteLivedIntangibleAssetsByMajorClassAxis,dim_us-gaap_FiniteLivedIntangibleAssetsByMajorClassAxis,dim_srt_TitleOfIndividualAxis,dim_us-gaap_AwardTypeAxis
131,us-gaap:CostsAndExpenses,c-1,-100434000000,usd,-6,-1.004340e+11,[],us-gaap_CostsAndExpenses_c-1,us-gaap:CostsAndExpenses,duration,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,us-gaap:CostsAndExpenses,c-18,-98258000000,usd,-6,-9.825800e+10,[],us-gaap_CostsAndExpenses_c-18,us-gaap:CostsAndExpenses,duration,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,us-gaap:CostsAndExpenses,c-19,-107385000000,usd,-6,-1.073850e+11,[],us-gaap_CostsAndExpenses_c-19,us-gaap:CostsAndExpenses,duration,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
fr = FinancialRatios(xb)

In [7]:
fr.get_ratio_data('operating_margin')

                                 2022-12-31 2023-12-31 2024-12-31
StandardConcept.OPERATING_INCOME        NaN        NaN        NaN
StandardConcept.REVENUE                 NaN        NaN        NaN